body{
    font-family: 'Lato', sans-serif, !important;

}
.dropdown:hover>.dropdown-menu{
    
    display: block;
}
.navbar{
opacity:0.9;
}
/* .clr{
    color: #87e5da!important;

} */
.bg9{
    /* background: rgba(145, 204, 238, 0.9); */
    background:  #f1e4f8fb
}
.lists li{
    font-size: 22px
}
.fabs{
    font-size: 35px
}
.on{
    color: #87e5da!important;
}

.navbar{
    border-bottom: red 3px solid
}
#home-section{
    background: url(/Images/appetizer-breakfast-cuisine-326278.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 700px;
    background-size: cover;
}
#home-section .dark-overlay{
    position: absolute;
    top: 0; 
    left:0;
    width: 100%;
    min-height: 700px;
    background: rgba(0,0,0,0.6);

}
